# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
messages.json
1.watch.json
2.watch.json
3.watch.json
4.watch.json
5.watch.json
6.watch.json
7.watch.json
1.listen.json
2.listen.json
3.listen.json
4.listen.json
5.listen.json
6.listen.json
7.listen.json
1.whatever.json
2.whatever.json
3.whatever.json
4.whatever.json
5.whatever.json
6.whatever.json
7.whatever.json
