@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;600&family=Poppins:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;600&family=Poppins:wght@200;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  touch-action: pan-x;
}

html,
body,
#root {
  height: 100%;
  background-color: #0b1f35;
}
.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  background: transparent !important;
  color: #fff !important;
  font-family: 'Inter Tight', sans-serif !important;
}

.react-calendar__navigation button {
  color: #fff !important;
  font-weight: 300;
  font-size: 13px;
  background: none !important;
  transition: color 0.2s ease;
}

.react-calendar__navigation button:hover {
  color: #a5b4fc !important;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  font-size: 12px !important;
  font-weight: 300 !important;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 4px;
}

.react-calendar__tile {
  border-radius: 10px;
  font-weight: 300;
  transition: background 0.2s ease;
  color: rgba(255, 255, 255, 0.9) !important;
}

.react-calendar__tile--now {
  background: rgba(255, 255, 255, 0.1) !important;
}

.react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
}

/* Ngày đặc biệt (vòng đỏ) */
.special-day {
  position: relative;
}

.special-day::before {
  content: "";
  position: absolute;
  inset: 3px;
  border: 2px solid rgba(255, 100, 150, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 100, 150, 0.6);
  pointer-events: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
    transform: scaleY(1);
  }

  20%,
  24%,
  55% {
    opacity: 0.6;
    transform: scaleY(0.9);
  }
}

.animate-flicker {
  animation: flicker 1.4s infinite;
}

@keyframes move22 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-22 {
  animation: move22 6s ease-in-out infinite;
}